.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.accordionHolder {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 44em;
    overflow-y: auto;
    padding-right: 15px;
    width: 31.75em;
}

.accordionItem {
    flex: 5;
    text-align: left;
    max-width: 100%;
}

.optionHolder {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    text-overflow: ellipsis;
}

.location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
