.cgv-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cgv-btn {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 3px 6px 0;
  filter: invert(39%) sepia(11%) saturate(1202%) hue-rotate(165deg) brightness(95%) contrast(92%);
  transition: filter 0.4s;
}

.cgv-btn:hover {
  filter: none;
}


/* The CSS below embeds SVG images for the buttons */
/* This could be easily replaced with custom external PNG images */
/* Note, that only the id attributes (e.g. #btn-reset) are needed for the controls, */
/* the class attributes (e.g .btn-reset) are only for the example buttons earlier in */
/* the tutorial. */

.btn-reset,
#btn-reset {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 3px;'%3E%3Cpath d='M3 10 V3 H10 M20 3 H27 V10 M27 20 V27 H20 M10 27 H3 V20'/%3E%3C/svg%3E");
}

.btn-zoom-in,
#btn-zoom-in {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 4px;'%3E%3Cpath d='M5 15 H25 M15 5 V25'/%3E%3C/svg%3E");
}

.btn-zoom-out,
#btn-zoom-out {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 4px;'%3E%3Cpath d='M5 15 H25'/%3E%3C/svg%3E");
}

.btn-move-left,
#btn-move-left {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 4px;'%3E%3Cpath d='M5 17 A4 2 0 0 1 25 17 M5.5 8.5 L5 16 L11 18.5'/%3E%3C/svg%3E");
}

.btn-move-right,
#btn-move-right {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 4px;'%3E%3Cpath d='M5 17 A4 2 0 0 1 25 17 M24.5 8.5 L25 16 L19 18.5'/%3E%3C/svg%3E");
}

.btn-toggle-format,
#btn-toggle-format {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 2.5px;'%3E%3Ccircle cx='8.5' cy='8.5' r='5.5'/%3E %3Cpath d='M15 21 h12'/%3E %3Cpath d='M25 5 L5 25' stroke-width='1.5'/%3E %3C/svg%3E");
}

.btn-invert-colors,
#btn-invert-colors {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 1px;'%3E%3Cpath d='M15 5 A 10 10 0 0 0 15 25' strok-linecap='square' fill='black'/%3E %3Cpath d='M15 5 A 10 10 0 0 1 15 25 Z'/%3E%3C/svg%3E");
}

.btn-random-feature,
#btn-random-feature {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 3px;'%3E %3Ctext x='10' y='16' stroke-width='1' fill='black' font-family='sans-serif' font-size='18px'%3E ? %3C/text%3E E%3Cpath d='M5 22 H25 M21 18 L25 22 L21 26'/%3E %3C/svg%3E");
}

.btn-download,
#btn-download {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 3px; stroke-linecap: round'%3E%3Cpath d='M15 5 V20 m-4 -5 l4 5 l4 -5 M5 25 h20'/%3E%3C/svg%3E");
}

.btn-toggle-labels,
#btn-toggle-labels {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' style='fill:transparent; stroke:black; stroke-width: 1px;'%3E%3Ccircle cx='12' cy='18' r='5.5'/%3E %3Cpath d='M18 13 l3 -3 M12 11 l0 -4 M18 21 l3 1'/%3E %3Cpath d='M18 8 h9 M8 5 h8 M20 24 h7' stroke-width='1.5'/%3E %3C/svg%3E");
}


/*******************************************/
/* VIEWER */
/*******************************************/
.cgv-wrapper {
  overflow: hidden;
  display: inline-block;
  /* border: 1px solid #DDD; */
  text-align: left;
}

.cgv-layer {
  position: absolute;
  left: 0;
  top: 0;
}


/*******************************************/
/* COLOR PICKER */
/*******************************************/
/* NOTE: dimensions have to be changed in ColorPicker.js as well. */
/* .cp-color-picker-dialog { */
/*   z-index: 1000; */
/* } */
/*  */
/* .cp-color-picker-dialog * { */
/*   box-sizing: content-box; */
/* } */

.cp-done-button {
  cursor: pointer;
  color: #585858;
  font-size: 10px;
  padding: 1px 6px;
  width: 28px;
  background-color: white;
  /* border: 1px solid #585858; */
  border: 1px solid #B4B4B4;
  border-radius: 2px;
}

.cp-done-button:hover {
  background-color: #EEE;
  color: black;
}

.cp-color-picker-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  /* border: 1px solid #C8C8C8; */
  /* border-bottom-color: #585858; */
  /* border-radius: 2px; */
  cursor: pointer;
  /* overflow: hidden; */
  vertical-align: baseline;
}

.cp-color-picker-indicator {
  width: 5px;
  height: 5px;
  position: absolute;
  /* border: 2px groove black; */
  /* border-radius: 3px; */
}

/* .cp-picker-indicator-rect-1 { */
/*   border: 1px solid white; */
/*   border-radius: 3px; */
/*   position: absolute; */
/*   top: -2px; */
/*   left: -2px; */
/*   width: 5px; */
/*   height: 5px; */
/* } */
/*  */
/* .cp-picker-indicator-rect-2 { */
/*   border: 1px solid rgb(25,25,25); */
/*   border-radius: 4px; */
/*   position: absolute; */
/*   top: -3px; */
/*   left: -3px; */
/*   width: 7px; */
/*   height: 7px; */
/* } */
.cp-picker-indicator-rect-1 {
  /* border: 3px solid rgba(25,25,25,0.5); */
  /* border: 3px solid rgba(75,75,75,0.75); */
  border: 2px solid rgba(25, 25, 25, 0.5);
  /* border: 2px solid rgba(75,75,75,0.75); */
  background-clip: padding-box;
  /* border-radius: 4px; */
  border-radius: 5px;
  position: absolute;
  /* top: -2px; */
  /* left: -2px; */
  top: -3px;
  left: -3px;
  /* width: 3px; */
  /* height: 3px; */
  width: 7px;
  height: 7px;
}

.cp-picker-indicator-rect-2 {
  border: 1px solid white;
  /* border: 3px solid rgb(25,25,25); */
  /* border-radius: 4px; */
  border-radius: 5px;
  position: absolute;
  /* top: -1px; */
  /* left: -1px; */
  top: -2px;
  left: -2px;
  /* width: 5px; */
  /* height: 5px; */
  width: 7px;
  height: 7px;
}

.cp-color-slider-wrapper {
  width: 20px;
  height: 100px;
  margin-left: 5px;
  top: -1px;
  position: relative;
  display: inline-block;
  /* border: 1px solid #585858; */
  /* border-radius: 2px; */
  cursor: pointer;
}

.cp-color-slider {
  height: 100px;
  border-radius: 2px;
  /* margin-left: 1px; */
}

.cp-color-slider svg {
  vertical-align: baseline;
}

.cp-color-slider-indicator {
  /* width: 100%; */
  left: -2px;
  width: 22px;
  height: 5px;
  position: absolute;
  /* border: 1px solid black; */
  /* border-radius: 3px; */
  /* background-color: white; */
}

.cp-color-indicator-rect-1 {
  /* border: 3px solid white; */

  /* Switch These for work in progress indicators */
  border: 3px solid rgb(25, 25, 25);
  /* border: 2px solid white; */
  /* box-shadow: 0 0 0 1px rgba(16,22,26,.4),0 1px 2px rgba(16,22,26,.8); */

  border-radius: 2px;
  position: absolute;
  top: -2px;
  left: -1px;
  width: 20px;
  height: 3px;
}

.cp-color-indicator-rect-2 {
  /* border: 1px solid rgb(25,25,25); */

  /* Switch These for work in progress indicators */
  border: 1px solid white;

  border-radius: 1px;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 22px;
  height: 5px;
}

.cp-alpha-slider-wrapper {
  width: 127px;
  height: 10px;
  margin-top: 5px;
  position: relative;
  display: block;
  /* border: 1px solid #585858; */
  /* border-radius: 2px; */
  cursor: pointer;
}

.cp-alpha-slider-indicator {
  width: 3px;
  height: 12px;
  top: -1px;
  position: absolute;
  /* border-radius: 3px; */
}

.cp-alpha-indicator-rect-1 {
  /* border: 3px solid white; */

  /* Switch These for work in progress indicators */
  border: 3px solid rgb(25, 25, 25);
  /* border: 2px solid white; */
  /* box-shadow: 0 0 0 1px rgba(16,22,26,.4),0 1px 2px rgba(16,22,26,.8); */

  border-radius: 2px;
  position: absolute;
  /* top: -4px; */
  top: -2px;
  left: -3px;
  width: 3px;
  height: 10px;
}

.cp-alpha-indicator-rect-2 {
  /* border: 1px solid rgb(25,25,25); */

  /* Switch These for work in progress indicators */
  border: 1px solid white;

  border-radius: 1px;
  position: absolute;
  top: -1px;
  left: -2px;
  width: 5px;
  height: 12px;
}

.cp-dialog {
  z-index: 1000;
  position: absolute;
  /* border: 1px solid black; */
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 0 1px rgba(16, 22, 26, .1), 0 2px 4px rgba(16, 22, 26, .2), 0 8px 24px rgba(16, 22, 26, .2);
  text-align: left;
}

.cp-dialog * {
  box-sizing: content-box;
}

/* Area at bottom of dialog buttons */
.cp-dialog-footer {
  /* height: 30px; */
  /* border-top: 1px solid #CCC; */
  padding-top: 5px;
  text-align: right;
  display: flex;
}

.cp-footer-color-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.cp-footer-button-section {
  width: 50%;
  text-align: right;
  display: inline-block;
}

/* CSS styles similar to Bootstrap 3 */
.cp-button {
  color: #333;
  font-size: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
}

.cp-color-original,
.cp-color-current {
  display: inline-block;
  height: 20px;
  width: 20px;
  /* border: 1px solid #585858; */
  border: 1px solid #B4B4B4;
}

.cp-color-current {
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cp-color-original {
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
}

.cp-color-picker {
  position: absolute;
  /* box-sizing: border-box; */
  height: 100px;
  border-radius: 2px;
}

/*******************************************/
/* DIALOG BOX  */
/*******************************************/
.cgv-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-sizing: border-box; */
  padding: 5px 10px 10px 10px;
  margin: auto auto;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  background-color: white;
  display: block;
  text-align: left;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 1000;
}

.cgv-dialog-dismiss {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 20px;
  width: 20px;
  background-color: white;
  cursor: pointer;
  color: #CCC;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  line-height: 20px;
}

.cgv-dialog-dismiss:active {
  background-color: rgb(200, 200, 200);
}

.cgv-dialog-dismiss:hover {
  color: rgb(0, 0, 0);
}

.cgv-dialog-header {
  /* height: 25px; */
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: rgb(50, 50, 50);
}

.cgv-dialog-contents h3 {
  font-size: 16px;
}

.cgv-dialog-contents {
  margin-top: 5px;
  overflow: scroll;
}

/* Area at bottom of dialog buttons */
.cgv-dialog-footer {
  height: 30px;
  border-top: 1px solid #CCC;
  padding-top: 5px;
  text-align: right;
}

/* CSS styles similar to Bootstrap 3 */
.cgv-button {
  color: #333;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
}

.cgv-alert {
  border: 1px solid #bce8f1;
  border-radius: 4px;
  background-color: #d9edf7;
  color: #31708f;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.cgv-label {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  width: 60px;
  text-align: right;
  margin-right: 10px;
}

.cgv-input {
  border-radius: 4px;
  color: #555;
  border: 1px solid #CCC;
  padding: 4px 8px;
  display: table-cell;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 14px;
}

.cgv-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.cgv-input-addon {
  /* border-radius: 0 4px 4px 0; */
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #eee;
  color: #555;
  border: 1px solid #CCC;
  text-align: center;
  display: table-cell;
  font-size: 14px;
}

.cgv-input-group {
  display: inline-table;
  margin-bottom: 10px;
}

.cgv-input-group .cgv-input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cgv-input-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0
}


/*******************************************/
/* SETTINGS */
/*******************************************/
.cgv-settings .cgv-label {
  width: 140px;
}

/*******************************************/
/* MENU */
/*******************************************/

/* Size is actually set in SVMenu */
.cgv-menu {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 41px;
  margin: 0 auto;
  width: 300px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 2px -1px grey;
  background-color: white;
  display: block;
  text-align: left;
  z-index: 1000;
}

.cgv-menu svg {
  shape-rendering: geometricPrecision;
}

.cgv-menu-button {
  fill: rgb(255, 255, 255);
  stroke: black;
}

.cgv-menu-button:not(.disabled):active {
  fill: rgb(200, 200, 200);
}

.cgv-menu-button:not(.disabled):hover * {
  stroke: rgb(0, 0, 0);
  cursor: pointer;
}

.cgv-menu-button .cgv-button-text {
  fill: rgb(100, 100, 100);
}

.cgv-menu-button:not(.disabled):hover .cgv-button-text {
  fill: rgb(0, 0, 0);
}

.cgv-button-image * {
  stroke: rgb(100, 100, 100);
}

.cgv-menu-button.disabled {
  stroke: rgb(200, 200, 200);
}

.cgv-menu-button.disabled .cgv-button-image * {
  stroke: rgb(200, 200, 200);
}

.cgv-menu-button.disabled .cgv-button-text {
  fill: rgb(200, 200, 200);
}

/* Size is actually set in SVMenu */
.cgv-menu-handle {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  height: 12px;
  margin: 0 auto;
  width: 40px;
  cursor: pointer;
  display: block;
  text-align: center;
  z-index: 1001;
}

.cgv-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}

.cgv-table th {
  padding: 5px;
  border-bottom: 2px solid #ddd;
}

.cgv-table td {
  padding: 5px;
  border-top: 1px solid #ddd;
}

/*******************************************/
/* MESSENGER */
/*******************************************/
.cgv-messenger {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  text-align: center;
}

.cgv-messenger-contents {
  font: message-box;
  position: relative;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translateY(-50%);
}

/*******************************************/
/* Highlighter */
/*******************************************/
.cgv-highlighter-popover-box {
  border: 1px solid grey;
  background-color: white;
  position: absolute;
  z-index: 100;
  margin: 5px;
  text-align: left;
}

.cgv-highlighter-popover-box:after,
.cgv-highlighter-popover-box:before {
  content: '';
  pointer-events: none;
  display: block;
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

.cgv-highlighter-popover-box:after {
  top: 0px;
  border-color: transparent white transparent transparent;
  border-width: 10px;
}

.cgv-highlighter-popover-box:before {
  top: -1px;
  border-color: transparent grey transparent transparent;
  border-width: 11px;
}

.meta-data-container {
  border-top: 1px solid white;
}

.meta-data:not(:last-child) {
  border-bottom: 1px solid grey;
}

.meta-data-key {
  font-weight: bold;
  font-size: smaller;
}

.meta-data-value {
  font-size: smaller;
  font-style: italic;
}

.track-data {
  font-size: 10px;
}
