.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.editor {
    display: flex;
    flex-wrap: wrap;
    /* width: fit-content; */
    /* gap: 20px; */
    flex-direction: row;
    background-color: white;
    padding: 70px 30px;
    margin-top: 20px;
    color: var(--text);
    box-shadow: 10px 10px 35px rgba(227, 6, 6, 0.3);
    /* height: 100em; */
    /* height: fit-content; */
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    /* background-color: #5149b0; */
}

.cgvEditorWrapper {
    display: flex;
    flex-direction: row;
    height: 50em;
    justify-content: space-between;

}

.sequenceEditorHolder {
    display: 'flex';
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.options {
    /* width:min(400px, 90%); */
    width: 30.85%;
    /* max-height: 32.5em; */
    /* height: 32.5em; */
}

.heading {
    color: #5149b0;
    font-weight: 'bold';
}

.drawing {
    /* width: min(90vw, 700px); */
    width: 65.1%;
    height: 45em;
    position: relative;
    /* margin: 0 auto; */
}

.cgvbuttonholder {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    flex-wrap: wrap;
}

.svgwrap {
    position: relative;
    height: 100%;
}

.insertsvg {
    position: absolute;
    left: 0;
}

.bordercircle {
    outline: 3px solid green;
}

.tabs {
    width: 16rem;
    height: 2.5rem;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.navBefore {
    content: "";
    position: absolute;
    background-color: #9198e5;
    background: linear-gradient(45deg, #7e90df, #5149b0);
    height: 100%;
    width: 8rem;
    z-index: -1;
    transition: .3s ease-out;
    border-radius: 2rem;
}

.tab {
    cursor: pointer;
    width: 8rem;
    transition: .3s ease-out;
    font-size: 1rem;
}

.tabopen {
    cursor: pointer;
    width: 8rem;
    font-size: 1rem;
    transition: .3s ease-out;
    color: white;
}

.newFeature {
    height: 88%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
}

.cgvButtons {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    flex-direction: row;
    /* justify-content: space-between; */
}

.optionTabs {
    display: flex;
    flex-direction: row;
    /* gap: 14px; */
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    /* width: 25em; */
}

.option {
    /* padding: 3px; */
    color: #5149b0;
    font-size: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid;
    width: 10em;
}

.select {
    color: white;
    background-color: #5149b0;
}

.restrictionGrid {
    height: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
    padding: 20px;
}

.restrictionInvisible {
    color: #b1b1b1;
}

.optionOther {
    height: 88%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* gap: 20px; */
    padding: 20px;
}

.optionBLAST {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    height: 88%;
}

.otherOptionCheckbox {
    margin-bottom: 0px;
    margin-top: 0px;
}

.legendMap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.sequence {
    height: 200px;
    overflow: auto;
    width: 600px;
    white-space: pre-line;
    margin-bottom: 20px;
    color: var(--mid);
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.sidebarholder {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.openlink {
    color: var(--plasmid3);
    text-decoration: underline;
}

.openlink :hover {
    color: var(--plasmid2);
}

.addFeatureButton {
    background-color: var(--plasmid3);
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    padding: 5px;
    align-self: center;
    border-radius: 5px;
    transition: background-color 0.3s ease-out;
}

.addFeatureButton:hover {
    background-color: var(--plasmid2);
}

.downloadHolder {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.uploadHolder {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-between;
    align-items: center;
    border: 3px dashed #5149b0;
    border-radius: 5px;
    padding: 3px;
}

.plasmidNameInputField {
    height: 30px;
}
