.help{
    display:flex;
    white-space:pre-line;
}

.filterBar{
    background-color: white;
    width:300px;
    box-shadow: 0px 0px 5px #888888;
    z-index:2;
    padding:50px 25px 50px 20px;
    display:flex;
    height:70vh;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    gap:10px;
    flex-direction:column;
    border-radius:20px;
    overflow: auto;
    margin:150px 10px 0 25px;
}

.title{
    font-size: 1.5em;
    text-decoration: underline;
}

.holder{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    align-items:flex-start;
    width:calc(100vw - 300px);
    padding:50px;
}

.tutorialholder{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.sideholder{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}

.imgholder{
    max-height: 500px;
    max-width: 100%;
    min-width: 20%;
}

.helpimg{
    max-height: 100%;
    max-width: 100%;
}

.helptext{
    min-width: 30%;
}

.helplink{
    color:var(--plasmid1);
    inset:10px;
    font-size:0.9em;
}

.spacer{
    display:flex;
    height: 50px;
}

@media only screen and (max-width: 665px) {
    .filterBar{
        display:none;
    }
    .holder{
        width: 90%;
    }
  }
