.indexbody {
  margin-top: -50px;
  text-align: center;
  /* margin: auto; */
  position: relative;
  width: 100%;
}

.examplecontainer {
  flex-direction: row;
}

.indexexamplebutton {
  margin-top: 27px;
  width: 150px;
  height: 2.5rem;
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  background: linear-gradient(45deg, #7e90df, #5149b0);
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.indexbutton {
  margin-top: 27px;
  width: 150px;
  height: 2.5rem;
  padding: 5px;
  position: relative;
  margin-left: 445px;
  margin-right: 25px;
  background: linear-gradient(45deg, #7e90df, #5149b0);
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.cdown {
  transform: rotate(90deg);
  transition: .3s ease-in-out;
}

.cright {
  transition: .3s ease-in-out;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  right: 12px;
  position: absolute;
  color: white;
  display: inline-block;
  animation: rotating 1s linear infinite;
}

.catchphrase {
  color: #ee615f;
  white-space: pre-line;
  margin-bottom: 20px;
}

.logosmall {
  font-size: 2.7rem;
}

.logodiv {
  color: var(--title);
  /* margin: auto; */
  margin-top: 0em;
  text-align: center;
  z-index: 2;
}

.logotitle {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-size: 2.8rem;
}

@keyframes circle1anim {
  0% {
    stroke-dasharray: 45 300;
  }

  100% {
    stroke-dasharray: 120 300;
  }
}

@keyframes circle2anim {
  0% {
    stroke-dasharray: 35 300;
  }

  100% {
    stroke-dasharray: 100 300;
  }
}

@keyframes circle3anim {
  0% {
    stroke-dasharray: 10 300;
  }

  100% {
    stroke-dasharray: 35 300;
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 0 300;
  }

  100% {
    stroke-dasharray: 200 300;
  }
}

.label {
  stroke-dasharray: 0 200;
  animation: 0.9s ease-in-out 0.9s 1 line;
  animation-fill-mode: forwards;
}

.circleI1 {
  opacity: 1;
  stroke-dasharray: 120 300;
  animation: 0.9s ease-in-out 0s 1 circle1anim;
}

.circleI2 {
  opacity: 1;
  stroke-dasharray: 100 300;
  animation: 0.7s ease-in-out 0s 1 circle2anim;
}

.circleI3 {
  opacity: 0.65;
  stroke-dasharray: 35 300;
  animation: 0.6s ease-in-out 0s 1 circle3anim;
}

.circle1 {
  opacity: 0.65;
  height: 500px;
  width: 500px;
  stroke-width: 3;
  top: -20px;
  left: -50px;
  position: absolute;
}

.circle2 {
  opacity: 0.65;
  height: 1200px;
  width: 1200px;
  stroke-width: 3;
  right: -500px;
  position: absolute;
}


.circleinner {
  opacity: 0.65;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.insertsvg {
  position: absolute;
}

.test {
  width: 100%;
  height: 1000px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

@media only screen and (max-width: 1013px) {
  .circle1 {
    display: none
  }
}

@media only screen and (max-width: 800px) {
  .circle2 {
    height: 1200px;
    width: 1200px;
    stroke-width: 3;
    right: -600px;
    position: absolute;
    opacity: 0.5;
  }
}
