.searchbody {
    margin-top:500px;
    text-align:center;
    margin:auto;
    position:relative;
    width:calc(100vw - 10px);
  }

.plasmidHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 100%;
}

.plasmidCard{
    width: 200px;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}

.plasmidTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchBar{
    margin:10px;
    border-radius: 10px;
    padding:10px;
    padding-bottom:15px;
}

.numberSearchBar{
    margin:10px;
    border-radius: 10px;
    padding:10px;
}

.modal{
    overflow:auto;
}

.searchHolder{
    display:flex;
}

.filterBar{
    overflow: scroll;
    background-color: white;
    width:300px;
    box-shadow: 0px 0px 15px #888888;
    z-index:2;
    padding:100px 20px 0 20px;
    display:flex;
    height:100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-direction:column;
}
