.box {
    height: 500px;
    width: min(700px, 90%);
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    font-size: 0.8em;
}

.inputSeq {
    color: var(--text);
    width: 100%;
    font-size: 0.8em;
    overflow: auto;
    max-height: 200px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.linkref {
    padding: 0px;
    display: inline;
    color: var(--plasmid3);
    text-decoration: underline;
    vertical-align: middle;
    font-size: 2em;
}

.linkref :hover {
    color: var(--plasmid2);
    text-decoration: underline;
}

.divholder {
    margin: 20px 20px 10px 20px;
}

.or {
    color: var(--plasmid3);
    font-weight: 900;
    font-size: 2em;
}

.connect {
    width: 2px;
    background-color: var(--plasmid3);
    height: 12px;
    margin: auto;
}

.textbox {
    width: 100%;
    height: 200px;
    background-color: var(--background);
}

.buttonUpload {
    background-color: var(--plasmid3)
}

.buttonholder {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 48px;
    /* justify-content: space-between; */
}

.exampleButton {
    border: 2px solid var(--plasmid3);
    border-top-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    font-size: 0.9em;
    transition: 0.2s ease-in-out;
    padding: 8px;
    background-color: var(--background);
    color: var(--text);
}

.exampleButton:hover {
    cursor: pointer;
    background-color: var(--plasmid3);
    color: white;
    transition: 0.2s ease-in-out;
}

.exampleSelected {
    background-color: var(--plasmid3);
    transition: 0.2s ease-in-out;
    color: white;
}

.annotateButton {
    align-self: flex-end;
    margin-top: 5px;
    width: 150px;
    height: 2.5rem;
    padding: 5px;
    position: relative;
    margin-left: 25px;
    margin-right: 1px;
    border: none;
    background-color: var(--plasmid3);
    font-weight: 500;
    cursor: pointer;
    color: white;
    border-top-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    transition: background-color 0.2s ease-in-out;
}

@keyframes annotate {
    0% {
        background-color: var(--plasmid3);
    }

    25% {
        background-color: var(--plasmid2);
    }

    50% {
        background-color: var(--plasmid1);
    }

    75% {
        background-color: var(--plasmid4);
    }

    100% {
        background-color: var(--plasmid5);
    }
}

.annotateButton:hover {
    background-color: var(--plasmid1);
    animation: annotate 3s linear infinite alternate;
}

.downloadBox {
    border: 3px var(--plasmid3) dashed;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--plasmid3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: min(680px, calc(100vw - 20px));
    height: 6em;
    text-align: center;
}
