.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.sequenceEditorWrapper {
    height: 50em;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* gap: 3em; */
    justify-content: space-between;
    /* position: relative; */
}

.inputsWrapper {
    width: min(31.75%, 31.75em);
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 10px;
    max-height: 50em;
    justify-content: flex-start;
    /* align-items: baseline; */
}

.reversePreview {
    color: #888;
    /* font-weight: bold; */
    padding: 10px;
    max-height: 7em;
    /* font-size: 0.9rem; */
    overflow: auto;
    font-family: Consolas, 'Courier New', Courier, monospace;
    text-align: left;
}

.optionTabs {
    display: flex;
    flex-direction: row;
    /* gap: 14px; */
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    /* width: 25em; */
}

.option {
    /* padding: 3px; */
    color: #5149b0;
    font-size: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid;
    width: 10em;
}

.select {
    color: white;
    background-color: #5149b0;
}

.addFeatureButton {
    background-color: var(--plasmid3);
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    padding: 5px;
    align-self: center;
    border-radius: 5px;
    transition: background-color 0.3s ease-out;
}

.addFeatureButton:hover {
    background-color: var(--plasmid2);
}

.divholder {
    margin: 10px 0px;
}

.or {
    color: var(--plasmid3);
    font-weight: 900;
    font-size: 2em;
}

.downloadHolder {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: left;
    align-items: center;
}

.refreshSpinner {
    /* transition: transform .7s ease-in-out; */
}

.refreshSpinner:hover {
    /* transform: rotate(360deg); */
}
