.numberSeqHolder {
    display: flex;
    flex-direction: row;
    font-family: Courier, monospace;
    line-height: 5em;
    font-size: clamp(0.45em, 1.5vw, 0.8em);
    gap: 10px;
    position: relative;
    width: 65%;
}

.numHolder {
    width: 5.5ch;
    white-space: pre-line;
}

.seqHolder {
    position: relative;
    text-align: left;
    word-break: break-all;
    width: 60.5ch;
}

.editor {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 0px;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

.reversePreview {
    color: #888;
    font-weight: bold;
    padding: 10px;
    max-height: 7em;
    overflow: auto;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.inputSeq {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.insertHolder {
    min-width: min(600px, 90vw);
    max-width: min(600px, 90vw);
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 20px;
}

.editorSequence {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.alignHoriz {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.seqBaseHolder {
    margin-top: var(--offset);
    width: 60.5ch;
}

.seqBaseHolderAbs {
    position: absolute;
    top: var(--offset);
    width: 60.5ch;
}

.seqBase {
    position: relative;
    background-color: var(--highlight);
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1.5px var(--border);
    border-radius: 3px;
}

.isDownload .seqBase {
    position: relative;
    cursor: pointer;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: var(--line);
    text-decoration-color: var(--border);
    border-radius: 3px;
}

.spacer {
    color: #bebebe;
}

.seqBaseSelected {
    background-color: black;
    color: white;
}

.seqBase .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;

    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    font-size: 60%;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;

    line-height: 1em;
    text-align: center;
    padding: 5px;

    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.isDownload .tooltiptext {
    visibility: visible;
    opacity: 1;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
    text-align: center;
    font-size: 60%;
    border-radius: 6px;
    bottom: var(--offset);
    left: 50%;
    margin-left: -100px;

    line-height: 1em;
    text-align: center;

    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.addButton {
    width: 10%;
    background-color: black;
}

.holdFeatures {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.seqBase:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}


.seqPosition {
    position: absolute;
    width: 100%;
    top: var(--offset);
    z-index: var(--order);
}
